.wrapper {
  width: 1040px;
  height: 300px;
  margin: 0 auto;
}


.carousel-container {
  height: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #777;
  padding: 8px;
}

.carousel-slide {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  height: 100%;
  background: mistyrose;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

.carousel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}